<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                飲み比べイベントを、もっと楽しく。アクティブに。</br></br>
                配布・販売されたドリンクの味を、参加者みんなでシールを貼りながら評価する企画です。
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <h2>みんなでつくる、Flavor Wheel</h2>
            <p>
                我々の飲み比べは、その場限りのイベントではありません。
                みなさんの評価を統合して、味覚のチャート"Flavor Wheel"を作り上げます。
            </p>
        </div>
    </div>
</section>