<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <h2>企画</h2>
            <p>
                飲み比べイベントを、もっと楽しく。アクティブに。</br></br>
                配布・販売されたドリンクの味を、参加者みんなでシールを貼りながら評価する企画を提供します。
                詳細については、下記連絡先までお気軽にお問い合わせください。
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <h2>みんなでつくる、Flavor Wheel</h2>
            <p>
                本当に意味のある飲み比べイベントに。</br></br>
                我々の飲み比べは、単なるその場限りのイベントではありません。</br>
                すべてのイベント会場から集まったデータを統合して、味覚のチャート"Flavor Wheel"を作り上げます。
            </p>
        </div>
    </div>
</section>