<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <h1>Price</h1>
                <h5>価格は、イベント会場の参加費を参考に、イベントごとに設定させていただきます。</h5>
                <!--<i class="fa fa-phone" aria-hidden="true"></i>-->
                <!--<a href="tel:{{ site.phone }}">
                    {{ site.phone }}
                </a>-->
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <h1>Contacts</h1>
                <h5>お申し込み・価格相談は、こちらまでお願いいたします。</h5>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <h5><a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a></h5>
            </div>
        </div>
    </div>
</footer>